<%- include("./partials/header")%>
    <div class = "container">
        <div class="jumbotron">
            <h1 class="display-4">Movie App!</h1>
            <p class="lead">This is an application to know more about the movies that you like .</p>
            <hr class="my-4">
            <p>Search your Movie name in the search bar present on the top right.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </div>
    </div>
<%- include("./partials/footer")%>
     